{% extends "layout.html" %}
{% block content %}
    <img id="image_elem" alt="xxx" src=""/>
{% endblock %}
{% block js %}
    <script type="text/javascript" charset="utf-8">
        const imageElem = document.getElementById("image_elem")

        const options = {
            transportOptions: {
                polling: {
                    extraHeaders: {
                        'x-access_token': "{{ access_token }}"
                    }
                }
            }
        };

        const socket = io("http://localhost:5000/image", options);
        socket.on("return img", (data) => {
            imageElem.src = data
        })
    </script>
{% endblock %}